.container {
    display: flex;
    flex-wrap: wrap;
}


.g-block-1 {
    width: 100%;
    float: left;
}

.block1 {
    width: 102%;
    height: 60px;
    background-color: white;
    margin-top: 30px;
    border-radius: 10px;
}


.block1 h1 {
    text-align: center;
    text-transform: uppercase;
}

.g-block-2 {
    width: 100%;
    float: left;
}

.block2 {
    width: 20%;
    height: 300px;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.block2 img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 18%;
}

.g-block-3 {
    width: 100%;
    float: left;
}

.block3 {
    width: 20%;
    height: 73px;
    background-color: white;
    border-radius: 10px;
    margin-left: 23%;
    margin-top: -27%;
}

.block3 h2 {
    font-size: 22px;
    background-color: blue;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
}

.block3 input {
    box-sizing: border-box;
    width: 100%;
    border: none;
    outline: none;
    padding: 5px;
    margin-top: -7px;
    font-size: 17.5px;
    border-radius: 3px;
    font-family: sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}


.g-block-4 {
    width: 100%;
    float: left;
}

.block4 {
    width: 20%;
    height: 73px;
    background-color: white;
    margin-top: 30px;
    border-radius: 10px;
    margin-left: 23%;
    margin-top: -17%;
}

.g-block-5 {
    width: 100%;
    float: left;
}

.block5 {
    width: 20%;
    height: 73px;
    background-color: white;
    margin-top: 30px;
    border-radius: 10px;
    margin-left: 23%;
    margin-top: -7%;
}



.block4 h2 {
    font-size: 22px;
    background-color: blue;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
}

.block5 h2 {
    font-size: 22px;
    background-color: blue;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
}

.g-block-6 {
    width: 100%;
    float: left;
}

.block6 {
    width: 21%;
    height: 73px;
    background-color: white;
    margin-top: 30px;
    border-radius: 10px;
    margin-left: -8px;
}

.block6 h2 {
    font-size: 22px;
    background-color: blue;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
}


.g-block-7 {
    width: 100%;
    float: left;
}

.block7 {
    width: 21%;
    height: 73px;
    background-color: white;
    margin-top: 30px;
    border-radius: 10px;
    margin-left: 22%;
    margin-top: -6.5%;
}

.block7 h2 {
    font-size: 22px;
    background-color: blue;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
}

.g-block-8 {
    width: 100%;
    float: left;
    margin-top: -4px;
}

.block8 {
    width: 57%;
    height: 400px;
    background-color: white;
    margin-top: 30px;
    border-radius: 10px;
    margin-left: 45%;
    margin-top: -36%;
    overflow-y: auto;
    max-height: 400px;
    position: relative;
}

.block8 h2 {
    font-size: 22px;
    background-color: blue;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
}

.table-header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

.header-container {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

.table-container {
    overflow: auto;
}

.block8 table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2px;
}

.block8 th,
.block8 td {
    padding: 10px;
    text-align: left;
    border: 1px solid transparent;
}

.block8 th {
    background-color: #f2f2f2;
}

.g-block-9 {
    width: 100%;
    float: left;
}

.block9 {
    width: 57%;
    height: 90px;
    background-color: white;
    margin-top: 30px;
    border-radius: 10px;
    margin-left: 45%;
    margin-top: 2%;
}

.block9 h2 {
    font-size: 22px;
    background-color: blue;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
}

.g-block-10 {
    width: 100%;
    float: left;
}

.block10 {
    width: 21%;
    height: 73px;
    background-color: white;
    border-radius: 10px;
    margin-left: -1%;
    margin-top: -8%;

}


.block10 h2 {
    font-size: 22px;
    background-color: blue;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
}

.block10 input {
    box-sizing: border-box;
    width: 100%;
    border: none;
    outline: none;
    padding: 5px;
    margin-top: -7px;
    font-size: 17.5px;
    border-radius: 3px;
    font-family: sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-align: center;
}

.g-block-11 {
    width: 100%;
    float: left;
}

.block11 {
    width: 21%;
    height: 73px;
    background-color: white;
    border-radius: 10px;
    margin-left: 22%;
    margin-top: -8%;

}


.block11 h2 {
    font-size: 22px;
    background-color: blue;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
}

.g-block-12 {
    width: 100%;
    float: left;
}

.block12 {
    width: 21%;
    height: 134px;
    background-color: white;
    border-radius: 10px;
    margin-left: -1%;
    margin-top: -0.6%;

}

.block12 button {
    border: none;
    outline: none;
    padding: 5px;
    margin-left: 4px;
    margin-top: 5px;
    color: black;
    font-size: 20px;
}

.nav-link {
    margin-top: -17px;
    align-items: center;
}

#valorUnitario {
    font-size: 30px;
    color: rgb(5, 5, 5);
    text-align: center;
    margin-top: -8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#tabelaProdutos tbody {
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(5, 5, 5);
}

#codigo {
    text-align: center;
    font-size: 30px;
    color: rgb(5, 5, 5);

    margin-top: -8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#quantidadeTotal {
    text-align: center;
    font-size: 30px;
    color: rgb(5, 5, 5);
    margin-top: -8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#subtotal {
    text-align: center;
    font-size: 30px;
    color: rgb(5, 5, 5);
    margin-top: -8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}